/*---------------------------Element Tag-----------------------------*/

body {
  background-color: #ff96ad;
  margin: 0px;
  font-family: Neue Helvetica, Helvetica, sans-serif;
}

img {
  display: block;
  margin: auto;
  width: 360px;
}



/*---------------------------Class Tag-----------------------------*/
.nav-bar {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
  margin: 30px auto;
  width: 1200px;
  height: 80px;
}


.main-page {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
  margin: 30px auto;
  padding: 0px;
  width: 1200px;
  height: 1800px;
}

.left-column {
  background-color: #005a8d;
  border-radius: 4px;
  margin-left: 0px;
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 360px;
  height: 1740px;
  position: absolute;

  color: white;
}

.right-column {
  background-color: green;
  border-radius: 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 720px;
  height: 1740px;

  margin-left: 420px;
  position: absolute;
}

/*---------------------------ID Tag-----------------------------*/

/*---------------------------Important Tag-----------------------------*/
