* {
  margin: 0;
  padding: 0;
}

/*---------------------------Element Tag-----------------------------*/

body {
  background-color: #ff96ad;
  font-family: Neue Helvetica, Helvetica, sans-serif;
  font-size: 16px;
}

img {
  border-radius: 6px;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0px auto 30px;
  width: 100%;
  max-width: 340px;
}

p, li {
  line-height: 150%;

}

hr {
  margin: 20px auto;
}

ul {
  list-style-type: none;
}



/*---------------------------Class Tag-----------------------------*/

.wrapper {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
  margin: 20px 20px;
  padding: 0px;
  width: auto;
  height: auto;
}

.first-column {
  background-color: #005a8d;
  border-radius: 6px 6px 0px 0px;
  color: white;
  padding: 30px;
}

.second-column {
  background-color: #fff5fd;
  border-radius: 0px 0px 6px 6px;
  color: black;
  padding: 30px;
}

.left-column {
  padding-bottom: 20px;
}

.right-column {
  padding-bottom: 20px;
}

.first-column h1 {
  font-size: 48px;
  text-align: center;
}

.first-column h3 {
  font-size: 20px;
  text-align: center;
}

.second-column h1 {
  font-size: 48px;
  color: #005a8d;
}

.second-column h2 {
  font-size: 32px;
  color: #005a8d;
  padding-bottom: 20px;
}

.second-column h3 {
  font-size: 20px;
  color: #005a8d;
}

.second-column h4 {
  font-size: 18px;
}

.bar-30 {
  background-color: white;
  height: 12px;
  width: 30%;
}

.bar-20 {
  background-color: white;
  height: 12px;
  width: 20%;
}



/*---------------------------Responsive script-----------------------------*/

@media only screen and (min-width: 750px) {
  .flex-work-container {
    display: flex;
  }

  .left-column {
    flex: 50%;
  }

  .right-column {
    flex: 50%;
  }

}

@media only screen and (min-width: 1000px) {
  .wrapper {
    display: flex;
  }

  .flex-work-container {
    display: block;
  }

  .first-column {
    flex: 30%;
    border-radius: 6px 0px 0px 6px;
  }

  .second-column {
    flex: 70%;
    border-radius: 0px 6px 6px 0px;
  }

  img {
    width: 340px;
  }

}

@media only screen and (min-width: 1150px) {
  .flex-work-container {
    display: flex;
  }

}

@media only screen and (min-width: 1240px) {
  .wrapper {
    width: 1200px;
    margin: 20px auto;
  }

}
