* {
  margin: 0;
  padding: 0;
}

/*---------------------------Element Tag-----------------------------*/

html { font-size: 1rem; } /* 16px */

body {
  /*background-color: #ff96ad;*/
  background-color: rgba(240, 240, 240, 1);
  font-family: Neue Helvetica, Helvetica, sans-serif;
}

main {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
  margin: 20px 20px;
  width: auto;
  height: auto;
}

aside {
  background-color: #005a8d;
  border-radius: 6px 6px 0px 0px;
  color: white;
  padding: 30px;
}

section {
  /*background-color: #fff5fd;*/
  background-color: white;
  border-radius: 0px 0px 6px 6px;
  color: black;
  padding: 30px;
}

img {
  display: block;
  border-radius: 6px;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.2);
  margin: 0px auto 30px;
  width: 100%;
  max-width: 340px;
}

h1 { font-size: 4rem; } /* 48px */

h2 { font-size: 2rem; } /* 32px */

h3 { font-size: 1.25rem; } /* 20px */

h4 { font-size: 1.125rem; } /* 18px */

p, li { line-height: 150%; vertical-align: middle;}

hr { margin: 20px auto; }

ul { list-style-type: none; vertical-align: middle;}

aside h1, aside h3 { text-align: center; }

aside h2 { padding-bottom: 20px; }

section h1, section h2, section h3 { color: #005a8d; }

section h2 { padding-bottom: 20px; }

/*---------------------------Class Tag-----------------------------*/

.left-column { padding-bottom: 20px; }

.right-column { padding-bottom: 20px; }

.bar-30 {
  background-color: white;
  height: 12px;
  width: 30%;
}

.bar-20 {
  background-color: white;
  height: 12px;
  width: 20%;
}

.logos {
  display: inline;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0;
  padding: 0 16px 0 0;
  margin: 0;
  width: 24px;
}

/*---------------------------Responsive script-----------------------------*/

@media only screen and (min-width: 750px) {
  .flex-container { display: flex; }

  .left-column { flex: 50%; }

  .right-column { flex: 50%; }
}

@media only screen and (min-width: 1150px) {
  main { display: flex; }

  aside {
    flex: 30%;
    border-radius: 6px 0px 0px 6px;
  }

  section { flex: 70%; border-radius: 0px 6px 6px 0px; }

  img { width: 340px; }

  .flex-container { display: block; }

  section .flex-container { display: flex; }
}

@media only screen and (min-width: 1150px) {
  section .flex-container { display: flex; }
}

@media only screen and (min-width: 1240px) {
  main {
    width: 1200px;
    margin: 20px auto;
  }
}


/*---------------------------Responsive script-----------------------------*/
/*
@media only screen and (min-width: 750px) {
  .flex-work-container { display: flex; }

  .flex-contact-container { display: flex; }

  .left-column { flex: 50%; }

  .right-column { flex: 50%; }
}

@media only screen and (min-width: 1000px) {
  main { display: flex; }

  .flex-work-container { display: block; }

  .flex-contact-container { display: block; }

  aside {
    flex: 30%;
    border-radius: 6px 0px 0px 6px;
  }

  section { flex: 70%; border-radius: 0px 6px 6px 0px; }

  img { width: 340px; }
}

@media only screen and (min-width: 1150px) {
  .flex-work-container { display: flex; }
}

@media only screen and (min-width: 1240px) {
  main {
    width: 1200px;
    margin: 20px auto;
  }
}
*/
